body{
    margin: 0;
    display:flex;
    justify-content: center;
    align-items: center;   
}
.fundoP{
    width: 100%;
    height: 100vh;
    background-image: url(ss_c0005eaa8d8caf4dc87a917ed525e2672c2be692.1920x1080.jpg);
    background-size: cover;
    position: fixed;
    z-index: -1;
    background-position: center;
    top: 0;
    left: 0;
}
.inicio2{
    background-color: rgba(91, 6, 6, 0.21);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    backdrop-filter: blur(2px);
    width:1000px ;
    height: 550px;
    border-radius: 20px;
}
.img{
    display: flex;
    justify-content: center;
}
.logo{
    margin: 5px;
    height: 200px;
    display: flex;
    align-items: center;

}
#agt1{
    height: 80px;
    transition: 0.3s;
}
.opcoesP{
    display: flex ;
    justify-content: center;
}
#text1{
    font-size: 40px;
    text-align: center;
    color: rgb(32, 16, 16);
    font-family: 'Arial';
    background-color: rgba(71, 7, 7, 0.441);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-bottom: 20px;
}
#bie1{
    height: 80px;
    transition: 0.3s;
    width: 80px;
}
#malak{
    height: 80px;
    transition: 0.4s;
}
#malak:hover{
    height: 100px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: rgba(198, 42, 14, 0.098);
    border-radius: 100px;
}
#bie1:hover{
    height: 100px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: rgba(59, 9, 105, 0.356);
    border-radius: 100px;
    width: 100px;
}
#agt1:hover{
    height: 100px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: rgba(12, 27, 126, 0.363);
    border-radius: 100px;
}
#mmonkey{
    height: 80px;
    transition: 0.4s;
}
#mmonkey:hover{
    height: 100px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: rgba(90, 49, 16, 0.098);
    border-radius: 100px;
}
#Gold{
    height: 80px;
    transition: 0.4s;
}
#Gold:hover{
    height: 100px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: rgba(198, 176, 14, 0.098);
    border-radius: 100px;
}
#text2{
    font-size: 20px;
    text-align: center;
    color: rgb(32, 16, 16);
    font-family: 'Arial';
    background-color: rgba(70, 7, 71, 0.142);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-bottom: 20px;
}